.post-date{
font-size: small;
color: #8b8585;
margin-top: 5px;
}

.post-author{
font-size: smaller;
font-style: italic;
}

.post-break{
border: 5px solid grey;
border-radius: 5px;
}

.index-image{
    height: 30;
    width: 30;
    border-radius: 5px;
}